.icons
{
    background-image: url('../res/bullet-point-icon-png-586051.png');
    background-color: #CE49BF;
    background-repeat: no-repeat;
    background-size: 9vh 9vh;
    width: 9vh;
    height:9vh;
    margin: 1vh;
}