.outer_form
{
  display:flex;
  justify-content: center;
  align-items: center;
  min-width:100vw;
  min-height:75vh;
  width:fit-content;
  height: fit-content;
  flex-direction:column;
  flex-wrap: wrap;
}
.form
{
  display:flex;
  justify-content: center;
  align-items: center;
  min-width:40vw;
  min-height:50vh;
  height:fit-content;
  width: fit-content;
  flex-direction: row;
  background-color: #2FA4FF;
  flex-wrap: wrap;
  border-radius: 25px;
  margin: 20px;
  padding: 15px;
}
.new-expense__controls {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
    height:fit-content;
    align-items: center;
    justify-content: center;
  }
  .new-expense__control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
    font-size: 3vh;
    color: white;
  }
  
  .new-expense__control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
  }
  
  .new-expense__actions {
    text-align: center;
  }
  .new-expense__actions input {
    background-color:#357C3C;
    font-size: 3vh;
    color:white;
  }
  .container
  {
    display:flex;
    flex: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height:fit-content;
  }
  .container_per
  {
    display:flex;
    flex-direction: row;
    flex: wrap;
    margin: 1vh;
    justify-content: flex-start;
    align-content: center;
    width: fit-content;
    height:10vh;
    background-color: #CE49BF;
    border-radius: 10px;
    padding: 10px;
  }
  .icon
  {
    background-image: url('../res/person-icon.png');
    background-repeat: no-repeat;
    background-size: 9vh 9vh;
    width: 9vh;
    height:9vh;
    margin: 1vh;
  }
  .name
  {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width:fit-content;
    font-size: 2.5vh;
    color: white;
    margin:1vh;
  }
  .del_button
  {
    display:flex;
    align-items: center;
    justify-content:center;
    width: fit-content;
    height: 10vh;
  }
  .del
  {
    background-color:#EEEEEE;
    height:5vh;
    font-size: 3vh;
    color:black;
    border-radius: 10%;
  }
  .third_container
  {
    display:flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    height:75vh;
    flex-direction: column;
  }
  .tick_icon
  {
    background-image: url('../res/green-tick.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40vh 40vh;
    margin: 5vh;
    height:40vh;
    width: 40vh;
  }
  .message
  {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
    color: red;
    font-family: sans-serif;
    width: 100vw;
    height: 20vh;
  }
  .btn_contain
  {
    display: flex;
    justify-content: center;
    align-items: center;
    width:fit-content;
    height: 15vh;
  }
  .btn1
  {
    background-color:#8BDB81;
    font-size: 3vh;
    color:white;
    border-radius: 10%;
    padding: 1vh;
    width:8vw;
    border: 2px solid green;
    cursor: pointer;
    transition-duration: 0.2s;
    box-shadow: 0 2px #999;
  }
  .btn1:hover
  {
    border-color: black;
    background-color: green;
  }
  .btn1:active {
    box-shadow: 0 0.5px #666;
    transform: translateY(2px);
  }
